apiVersion: apps/v1
kind: Deployment
metadata:
  name: swap-stat-api-deployment
  labels:
    app: swap-stat-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: swap-stat-api
  template:
    metadata:
      labels:
        app: swap-stat-api
    spec:
      containers:
        - name: swap-stat-api
          image: fountainchen/swap-stat-api:sha-a3bf180
          ports:
            - containerPort: 8800
          env:
            - name: DS_URL
              value: "jdbc:postgresql://starcoin-pg.c0bz9kehdvnb.ap-northeast-1.rds.amazonaws.com/starcoin?currentSchema=barnard"
            - name: DB_USER_NAME
              value: "starcoin"
            - name: DB_PWD
              valueFrom:
                secretKeyRef:
                  name: postgresql-starcoin-yu
                  key: password
            - name: MAIN_DS_URL
              value: "jdbc:postgresql://starcoin-pg.c0bz9kehdvnb.ap-northeast-1.rds.amazonaws.com/starcoin?currentSchema=main"